<div>

    <!-- <p>{{ timer }}</p> -->
    <p>It can be anything like Food, Place or Person  
        <br><br>
       You can add your item and also vote for existing items. 
    </p>
    <br>
    <form [formGroup]="choicesForm" (ngSubmit)="submitForm()">
 
        <input formControlName="name" placeholder="Enter Here">
      
        <button [disabled]="!choicesForm.valid" type="submit" class="button">Submit</button>
       
    </form>
    
    
    <!-- <div>
        <ul>
            <li class="head">Items <span class="votes">votes</span></li>
            <li *ngFor="let choice of choicesList" (click)="upvote(choice)">
                {{ choice.name }} <span class="votes"> {{ choice.votes }} </span>
              </li>         
        </ul>
    </div> -->



    <div>
        <table>
            <tr>
                <td class="head">Items</td>
                <td class="votes">Votes</td>
            </tr>
            <tr *ngFor="let choice of choicesList" (click)="upvote(choice)">
                <td> {{ choice.name }} </td>
                <td class="votes"> {{ choice.votes }}</td>
            </tr>
        </table>
    </div>
</div>