<div>

    <!-- <p>{{ timer }}</p> -->

    <form [formGroup]="choicesForm" (ngSubmit)="submitForm()">
 
        <input formControlName="name" placeholder="Enter choice name....">
      
        <button [disabled]="!choicesForm.valid" type="submit" class="button">Submit</button>
       
    </form>
    
    
    <div>
        <ul>
            <li *ngFor="let choice of choicesList" (click)="upvote(choice)">
                {{ choice.name }} <span class="votes"> {{ choice.votes }} </span>
              </li>         
        </ul>
    </div>
</div>